@import "src/styles/mixins";

.header {
  display: flex;
  align-items: center;
  height: 112px;
  box-shadow: 0 10px 30px 4px rgba(85, 105, 135, 0.03);

  .container {
    @include container;
    margin: 0 255px;

    @include for-laptops(0 170px);
    @include for-laptops2(0 80px);
    @include for-tablets(0 20px);

    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo img {
    width: 176px;
    height: 26px;
  }

  &__menu {
    display: flex;
    align-items: center;

    & img {
      width: 38px;
      margin-right: 30px;
      margin-left: 7.3px;
      cursor: pointer;
    }
  }

  &__item {
    margin-right: 34px;
    cursor: pointer;
  }

  &__chat {
    position: relative;
  }

  &__notification {
    position: absolute;
    top: -5px;
    right: -5px;
  }

  &__language {
    display: flex;
    align-items: center;
    cursor: pointer;

    & span {
      margin-right: 10px;
      @include text(400, 18px, 150%);
    }

    & svg {
      color: #B8B8B8;
    }
  }
}